MRI/__pycache__/__init__.cpython-310.pyc
MRI/__pycache__/settings.cpython-310.pyc
MRI/spiders/__pycache__/__init__.cpython-310.pyc
MRI/spiders/__pycache__/ask.cpython-310.pyc
MRI/spiders/__pycache__/cards.cpython-310.pyc
MRI/__pycache__/__init__.cpython-39.pyc
MRI/spiders/__pycache__/cards.cpython-39.pyc
MRI/spiders/__pycache__/ask.cpython-39.pyc
MRI/spiders/__pycache__/__init__.cpython-39.pyc
MRI/__pycache__/settings.cpython-39.pyc
